In [1]:
#initial imports
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
import numpy as np 
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor 
import numpy as np

In [2]:
#read in incidence csv from github

mortality_df = pd.read_csv("https://raw.githubusercontent.com/robyndook/Cancer_Treatment_Centers_California/main/Resources/Age_Mortality_Cancer_DB.csv")                         
#get rid of commas in columns
mortality_df = mortality_df.replace(',','', regex=True)
mortality_df.head()

,average_annual_count,primary_state_name,cancer,race_ethnicity,sex,age,age_adjusted_rate,county_state,index_of_medical_underservice_score,popestimate2015,popestimate2016,popestimate2017,popestimate2018,popestimate2019,abbrv,median_household_income_2015,median_household_income_2016,median_household_income_2017,median_household_income_2018,median_household_income_2019
0,4,Alabama,All Cancer Sites,All Races (includes Hispanic),All Sexes,<50,38.8,Marengo County AL,54.0,19766,19525,19396,19056,18863,AL,35389.0,34794.0,37469.0,37733.0,38838.0
1,48,Alabama,All Cancer Sites,All Races (includes Hispanic),All Sexes,50+,606.5,Marengo County AL,54.0,19766,19525,19396,19056,18863,AL,35389.0,34794.0,37469.0,37733.0,38838.0
2,18,Alabama,All Cancer Sites,All Races (includes Hispanic),All Sexes,<65,84.7,Marengo County AL,54.0,19766,19525,19396,19056,18863,AL,35389.0,34794.0,37469.0,37733.0,38838.0
3,35,Alabama,All Cancer Sites,All Races (includes Hispanic),All Sexes,65+,963.0,Marengo County AL,54.0,19766,19525,19396,19056,18863,AL,35389.0,34794.0,37469.0,37733.0,38838.0
4,9,Alabama,All Cancer Sites,All Races (includes Hispanic),All Sexes,<50,30.2,Jackson County AL,53.0,52195,51988,51828,51621,51626,AL,40201.0,41407.0,42658.0,41929.0,44322.0

In [3]:
#check dtypes
mortality_df.dtypes

average_annual_count                     int64
primary_state_name                      object
cancer                                  object
race_ethnicity                          object
sex                                     object
age                                     object
age_adjusted_rate                       object
county_state                            object
index_of_medical_underservice_score    float64
popestimate2015                          int64
popestimate2016                          int64
popestimate2017                          int64
popestimate2018                          int64
popestimate2019                          int64
abbrv                                   object
median_household_income_2015           float64
median_household_income_2016           float64
median_household_income_2017           float64
median_household_income_2018           float64
median_household_income_2019           float64
dtype: object

In [4]:
#get count of rows
mortality_df.count()

average_annual_count                   8170
primary_state_name                     8170
cancer                                 8170
race_ethnicity                         8170
sex                                    8170
age                                    8170
age_adjusted_rate                      8170
county_state                           8170
index_of_medical_underservice_score    7091
popestimate2015                        8170
popestimate2016                        8170
popestimate2017                        8170
popestimate2018                        8170
popestimate2019                        8170
abbrv                                  8152
median_household_income_2015           8152
median_household_income_2016           8152
median_household_income_2017           8152
median_household_income_2018           8152
median_household_income_2019           8152
dtype: int64

In [5]:
#get count of values for age
mortality_df["age"].value_counts()

50+    2420
65+    2406
<65    2198
<50    1146
Name: age, dtype: int64

In [7]:
#create column for 5-year average median income 
mortality_df["5_year_avg_income"] = (mortality_df["median_household_income_2015"]+mortality_df["median_household_income_2016"]+mortality_df["median_household_income_2017"]+mortality_df["median_household_income_2018"]+mortality_df["median_household_income_2019"])/5
mortality_df.head()

,average_annual_count,primary_state_name,cancer,race_ethnicity,sex,age,age_adjusted_rate,county_state,index_of_medical_underservice_score,popestimate2015,...,popestimate2017,popestimate2018,popestimate2019,abbrv,median_household_income_2015,median_household_income_2016,median_household_income_2017,median_household_income_2018,median_household_income_2019,5_year_avg_income
0,4,Alabama,All Cancer Sites,All Races (includes Hispanic),All Sexes,<50,38.8,Marengo County AL,54.0,19766,...,19396,19056,18863,AL,35389.0,34794.0,37469.0,37733.0,38838.0,36844.6
1,48,Alabama,All Cancer Sites,All Races (includes Hispanic),All Sexes,50+,606.5,Marengo County AL,54.0,19766,...,19396,19056,18863,AL,35389.0,34794.0,37469.0,37733.0,38838.0,36844.6
2,18,Alabama,All Cancer Sites,All Races (includes Hispanic),All Sexes,<65,84.7,Marengo County AL,54.0,19766,...,19396,19056,18863,AL,35389.0,34794.0,37469.0,37733.0,38838.0,36844.6
3,35,Alabama,All Cancer Sites,All Races (includes Hispanic),All Sexes,65+,963.0,Marengo County AL,54.0,19766,...,19396,19056,18863,AL,35389.0,34794.0,37469.0,37733.0,38838.0,36844.6
4,9,Alabama,All Cancer Sites,All Races (includes Hispanic),All Sexes,<50,30.2,Jackson County AL,53.0,52195,...,51828,51621,51626,AL,40201.0,41407.0,42658.0,41929.0,44322.0,42103.4

In [8]:
#drop rows where avg income is null
mortality_df = mortality_df[mortality_df["5_year_avg_income"].isna() == False]

In [9]:
#get count of rows
mortality_df.count()

average_annual_count                   8152
primary_state_name                     8152
cancer                                 8152
race_ethnicity                         8152
sex                                    8152
age                                    8152
age_adjusted_rate                      8152
county_state                           8152
index_of_medical_underservice_score    7085
popestimate2015                        8152
popestimate2016                        8152
popestimate2017                        8152
popestimate2018                        8152
popestimate2019                        8152
abbrv                                  8152
median_household_income_2015           8152
median_household_income_2016           8152
median_household_income_2017           8152
median_household_income_2018           8152
median_household_income_2019           8152
5_year_avg_income                      8152
dtype: int64

In [10]:
#keep only columns with 50+ and <50
mortality_df_50 = mortality_df[mortality_df["age"] != "65+"] 
mortality_df_50 = mortality_df_50[mortality_df_50["age"] != "<65"] 
mortality_df_50["age"].value_counts()

50+    2415
<50    1142
Name: age, dtype: int64

In [11]:
mortality_df_50.count()

average_annual_count                   3557
primary_state_name                     3557
cancer                                 3557
race_ethnicity                         3557
sex                                    3557
age                                    3557
age_adjusted_rate                      3557
county_state                           3557
index_of_medical_underservice_score    3090
popestimate2015                        3557
popestimate2016                        3557
popestimate2017                        3557
popestimate2018                        3557
popestimate2019                        3557
abbrv                                  3557
median_household_income_2015           3557
median_household_income_2016           3557
median_household_income_2017           3557
median_household_income_2018           3557
median_household_income_2019           3557
5_year_avg_income                      3557
dtype: int64

In [12]:
#create target 
y = mortality_df_50[['age_adjusted_rate']]

#change dtype to numeric
y['age_adjusted_rate'] = y['age_adjusted_rate'].astype(float)
y.head()

/Users/hankbowman/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

   age_adjusted_rate
0               38.8
1              606.5
4               30.2
5              626.1
8               27.6

In [14]:
#create feautures variable holding ages and income
X = mortality_df_50[["age", "5_year_avg_income"]]
X.head()

   age  5_year_avg_income
0  <50            36844.6
1  50+            36844.6
4  <50            42103.4
5  50+            42103.4
8  <50            40439.2

In [15]:
#create dummy variables for age
X = pd.get_dummies(X, columns=["age"])
X.head()

   5_year_avg_income  age_50+  age_<50
0            36844.6        0        1
1            36844.6        1        0
4            42103.4        0        1
5            42103.4        1        0
8            40439.2        0        1

In [16]:
#get shape of target array
y.shape

(3557, 1)

In [17]:
#get shape of feautures array
X.shape

(3557, 3)

In [18]:
#split data
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [19]:
#create linear regression model using sklearn
model = LinearRegression()

In [20]:
#fit the model with training data
regression_age_inc_mortality = model.fit(X_train, y_train)

In [21]:
#Create predictions array using linear regression
y_pred = regression_age_inc_mortality.predict(X_test)
y_pred

array([[ 4.13444100e+01],
       [ 5.71415279e+02],
       [ 5.59196647e+02],
       [ 5.55122224e+02],
       [ 3.78465272e+01],
       [ 4.98924285e+01],
       [ 5.46802194e+02],
       [ 5.52082637e+02],
       [ 5.39382562e+01],
       [ 5.38672670e+02],
       [-1.05199565e+02],
       [ 5.44090678e+02],
       [-5.91196357e+01],
       [-2.39997647e+01],
       [ 3.24292915e+01],
       [ 2.33820170e+01],
       [ 4.94252456e+01],
       [ 5.84001783e+02],
       [ 5.54063431e+02],
       [ 4.88658202e+02],
       [ 5.60263942e+02],
       [ 5.57618118e+02],
       [ 5.76550041e+02],
       [ 4.61210333e+02],
       [-5.86485885e+01],
       [ 5.52582666e+02],
       [ 2.64374477e+01],
       [ 5.53457523e+02],
       [ 5.62238167e+02],
       [ 4.42425673e+01],
       [ 5.59104293e+02],
       [ 5.66134450e+02],
       [ 5.80301029e+02],
       [ 5.67255457e+02],
       [ 5.73210591e+02],
       [ 5.66897631e+02],
       [ 5.63415978e+02],
       [ 5.87178936e+02],
       [ 5.65909553e+02],
       [ 5.34614090e+02],
       [ 5.07922833e+02],
       [ 5.67638014e+02],
       [ 3.24173124e+01],
       [ 5.95190989e+02],
       [ 5.33153805e+02],
       [ 1.32183723e+01],
       [ 5.71806337e+02],
       [ 3.27693419e+01],
       [ 5.35793060e+02],
       [ 4.87287180e+02],
       [ 5.55054214e+02],
       [ 3.49657588e+01],
       [ 5.39035132e+02],
       [ 5.81045662e+02],
       [ 5.05121668e+02],
       [ 5.49682190e+02],
       [ 5.80230701e+02],
       [ 5.61138413e+02],
       [ 5.54962633e+02],
       [ 2.58906620e+01],
       [ 2.80461183e+01],
       [ 5.13415072e+01],
       [ 5.42475052e+02],
       [ 2.53527640e+01],
       [ 5.75524479e+02],
       [ 5.63577502e+02],
       [ 9.82173186e+00],
       [ 1.69477212e+01],
       [ 5.54087389e+02],
       [ 5.86417687e+02],
       [ 5.74805736e+02],
       [ 5.65415320e+02],
       [ 5.27082359e+02],
       [ 4.89694969e+02],
       [ 5.96526846e+02],
       [ 5.62882331e+02],
       [ 5.63548134e+02],
       [ 5.83667142e+02],
       [ 4.90860801e+02],
       [ 5.26558372e+02],
       [ 3.25626067e+01],
       [ 5.13356685e+02],
       [ 5.51008387e+02],
       [ 2.49829591e+01],
       [ 1.82727588e+01],
       [ 5.04557493e+02],
       [ 8.50790052e+00],
       [ 5.43030725e+02],
       [ 5.68022116e+02],
       [ 5.48996679e+02],
       [ 5.69924853e+02],
       [ 5.62356798e+02],
       [ 1.55573785e+01],
       [ 5.57525377e+02],
       [ 5.76167098e+02],
       [-2.78332060e+00],
       [ 1.15602399e+01],
       [ 5.62342887e+02],
       [ 3.09585732e+01],
       [ 1.46044644e+01],
       [ 5.63425252e+02],
       [ 4.45872549e+01],
       [ 3.69936961e+01],
       [ 4.90275760e+02],
       [ 5.34315773e+02],
       [ 5.52833453e+02],
       [ 1.91348640e+01],
       [ 5.62982414e+02],
       [-2.12237163e+01],
       [ 5.79755016e+02],
       [ 4.88270622e+02],
       [-4.51525945e+00],
       [ 3.48594930e+01],
       [ 5.77610766e+02],
       [ 5.82299212e+02],
       [ 5.16495583e+02],
       [ 2.86508671e+01],
       [ 3.24370199e+01],
       [ 5.60423920e+02],
       [ 5.58593831e+02],
       [ 5.49375409e+01],
       [ 5.92099235e+02],
       [ 5.73090414e+02],
       [ 5.49286495e+02],
       [ 5.81451018e+02],
       [ 5.35187925e+02],
       [ 5.80893026e+02],
       [ 5.44898298e+02],
       [ 8.18601184e+00],
       [ 2.46023345e+01],
       [-3.84360662e+01],
       [ 5.45047843e+02],
       [ 5.05342738e+01],
       [ 5.53824623e+02],
       [ 3.61091785e+01],
       [ 5.53266244e+02],
       [ 5.68859104e+02],
       [ 5.76216559e+02],
       [ 5.51999170e+02],
       [ 5.75175928e+02],
       [ 5.69696092e+02],
       [-6.03507730e+01],
       [ 5.67721481e+02],
       [ 3.88709293e+01],
       [ 5.29231632e+02],
       [ 5.59143708e+02],
       [ 5.64495252e+02],
       [ 5.21404806e+00],
       [ 5.79355844e+02],
       [ 4.20581295e+01],
       [ 3.32674386e+01],
       [ 5.68696421e+02],
       [ 2.78413151e+01],
       [ 4.19707984e+01],
       [ 5.80826562e+02],
       [ 5.48704931e+02],
       [ 5.98429970e+02],
       [ 5.79437378e+02],
       [ 5.68490072e+02],
       [ 2.05364129e+01],
       [ 5.34434018e+02],
       [ 5.83477796e+02],
       [ 5.59331122e+02],
       [ 5.45067550e+02],
       [ 5.55041076e+02],
       [ 5.80698656e+02],
       [ 5.67073453e+02],
       [ 5.50965494e+02],
       [ 1.91248170e+01],
       [ 5.66884106e+02],
       [ 5.68677486e+02],
       [ 5.60633747e+02],
       [ 1.55693576e+01],
       [ 5.59117817e+02],
       [ 5.37980976e+02],
       [ 5.61083155e+02],
       [-4.44531725e+00],
       [ 5.73386026e+02],
       [ 5.49368416e+02],
       [ 2.91296427e+01],
       [ 5.76760254e+02],
       [ 3.10142178e+01],
       [ 4.96664845e+02],
       [ 5.66335389e+02],
       [ 5.49286495e+02],
       [ 5.64038889e+02],
       [ 5.14600574e+02],
       [ 6.23575966e+01],
       [ 5.40351669e+02],
       [ 2.42679351e+00],
       [ 5.23317845e+02],
       [ 3.33063219e+00],
       [ 5.71050497e+02],
       [ 4.33027915e+01],
       [ 5.44140527e+02],
       [ 5.24335292e+02],
       [ 5.47243101e+02],
       [ 5.67981928e+02],
       [ 5.20559959e+02],
       [ 1.96855139e+01],
       [ 5.49587903e+02],
       [-4.60559015e+01],
       [ 5.52891416e+02],
       [ 5.87789481e+02],
       [ 5.54990068e+02],
       [ 5.43125785e+02],
       [ 2.07862820e+00],
       [ 5.41689496e+01],
       [ 5.21384195e+02],
       [ 5.53902680e+02],
       [-3.86949682e+01],
       [ 5.62154313e+02],
       [-1.72993700e+00],
       [-5.87652877e+01],
       [ 5.70938822e+02],
       [ 5.63113024e+02],
       [ 2.68370070e+01],
       [ 5.56052726e+02],
       [ 5.87313024e+02],
       [ 5.34849807e+02],
       [ 5.15225804e+02],
       [ 5.62196047e+02],
       [ 5.40851311e+02],
       [ 5.82567388e+02],
       [ 2.71959921e+01],
       [ 6.85015450e+00],
       [ 5.29614575e+02],
       [ 5.69748645e+02],
       [-5.26916679e+00],
       [ 5.80549498e+02],
       [ 5.73158424e+02],
       [ 5.46617099e+02],
       [ 6.65993397e+01],
       [ 5.46954444e+02],
       [ 5.22376524e+02],
       [ 5.57208125e+02],
       [ 1.79624627e+01],
       [ 5.55371080e+02],
       [ 5.56060068e+02],
       [ 6.00019743e+01],
       [ 1.26209655e+01],
       [ 5.27195194e+02],
       [ 5.54033290e+02],
       [ 5.65955150e+02],
       [-4.36025147e+01],
       [ 5.75083187e+02],
       [-7.64823033e+01],
       [ 5.39858209e+02],
       [ 5.34728857e+02],
       [ 5.49379622e+02],
       [ 1.06780408e+01],
       [ 2.55552486e+01],
       [ 5.69057724e+02],
       [ 9.47047519e+00],
       [ 1.55210549e+01],
       [ 4.23982149e+02],
       [ 5.72107359e+02],
       [-6.36577637e+01],
       [ 5.50586801e+02],
       [ 5.48403523e+02],
       [ 5.69693387e+02],
       [ 5.12714840e+02],
       [ 5.89616866e+02],
       [ 5.52894894e+02],
       [ 5.84265709e+02],
       [ 5.02105266e+02],
       [ 5.60803386e+02],
       [ 5.34969597e+02],
       [ 5.45960956e+02],
       [ 2.37889183e+01],
       [ 5.72620912e+02],
       [ 6.05276190e+02],
       [ 5.31556727e+02],
       [ 4.87180142e+02],
       [ 5.27749321e+02],
       [ 4.40324665e+02],
       [ 5.25858177e+02],
       [ 5.84604213e+02],
       [ 5.49667119e+02],
       [-3.14882169e+01],
       [ 5.09196091e+02],
       [ 5.41832048e+02],
       [ 5.63208856e+02],
       [-6.47866446e+00],
       [ 5.61603277e+02],
       [-5.54057952e-01],
       [ 5.66645685e+02],
       [ 5.16778443e+02],
       [ 3.97075307e+01],
       [ 5.52881369e+02],
       [-9.86110873e+01],
       [ 5.66506187e+02],
       [ 2.23452495e+01],
       [ 5.61707997e+02],
       [ 5.68723470e+02],
       [ 5.53993875e+02],
       [ 5.58219002e+02],
       [ 5.65138256e+02],
       [ 5.66370166e+02],
       [ 5.55932936e+02],
       [ 5.51774273e+02],
       [-5.97824929e+00],
       [ 5.81177046e+02],
       [ 4.36729828e+01],
       [ 5.77509138e+02],
       [ 5.51037368e+02],
       [ 5.61291822e+02],
       [ 5.40362102e+02],
       [-2.50964274e+01],
       [-3.33210116e+01],
       [ 5.59022371e+02],
       [-3.81354307e+01],
       [ 5.56165561e+02],
       [ 5.53766273e+02],
       [ 3.52555745e+01],
       [ 5.65981040e+02],
       [ 3.09369336e+01],
       [ 4.88662839e+02],
       [ 5.34723447e+02],
       [ 5.63107228e+02],
       [ 2.45795356e+01],
       [ 1.13565960e+01],
       [ 5.49589062e+02],
       [ 2.85531026e+01],
       [ 2.76438540e+01],
       [ 5.88301103e+02],
       [ 1.19659819e+01],
       [ 3.02935427e+01],
       [ 3.17263917e+01],
       [ 5.77765335e+02],
       [ 2.78038323e+01],
       [ 5.46392202e+02],
       [ 4.70614274e+02],
       [ 5.18524680e+02],
       [ 5.68144998e+02],
       [ 5.63193786e+02],
       [ 5.63395111e+02],
       [ 4.93947183e+01],
       [ 5.89967350e+02],
       [ 6.58628213e+01],
       [ 5.34177048e+02],
       [ 5.64195003e+02],
       [ 5.31816789e+02],
       [ 5.75369525e+02],
       [ 1.93473955e+01],
       [ 2.30709481e+01],
       [ 4.91547085e+02],
       [ 1.86696131e+01],
       [ 4.04309108e+01],
       [ 5.39942449e+02],
       [ 4.99484945e+02],
       [ 5.45877875e+02],
       [ 5.52642175e+02],
       [ 5.39795995e+02],
       [ 8.26290962e+00],
       [ 5.79339227e+02],
       [ 4.20395813e+01],
       [ 3.04496568e+01],
       [ 4.91707836e+02],
       [ 5.68087808e+02],
       [ 4.96810563e+01],
       [ 3.05578546e+01],
       [ 5.87491551e+02],
       [ 5.65426913e+02],
       [ 4.76160225e+01],
       [ 5.73540594e+02],
       [ 5.51441178e+02],
       [ 3.73322009e+01],
       [ 5.65511153e+02],
       [ 5.79951318e+02],
       [ 1.24667835e+01],
       [ 5.52174219e+02],
       [ 5.40764366e+02],
       [ 5.38685035e+02],
       [ 5.83127699e+02],
       [ 5.34004318e+02],
       [ 1.58935648e+01],
       [ 5.67790264e+02],
       [ 5.23946552e+02],
       [ 6.59357097e+00],
       [ 4.90876258e+02],
       [ 4.72602024e+02],
       [ 5.75701074e+02],
       [ 3.29652574e+01],
       [ 1.70582376e+01],
       [ 9.65904863e+00],
       [ 5.34602884e+02],
       [ 5.39500770e+02],
       [ 5.76583273e+02],
       [ 5.38499553e+02],
       [ 2.65680580e+01],
       [ 5.79417671e+02],
       [ 5.54491585e+02],
       [ 5.72576860e+02],
       [ 1.74338388e+01],
       [ 5.58165676e+02],
       [ 5.70379671e+02],
       [ 5.98577969e+02],
       [ 5.60961432e+02],
       [-7.31911558e+01],
       [ 5.23877383e+02],
       [ 4.65021990e+02],
       [ 5.69874232e+02],
       [ 5.57559382e+02],
       [ 5.54882257e+02],
       [ 3.72947181e+01],
       [ 5.54764012e+02],
       [ 5.40830058e+02],
       [-4.68449732e+01],
       [ 5.55355623e+02],
       [ 5.80768985e+02],
       [ 5.70949255e+02],
       [ 5.84986384e+02],
       [ 5.83193777e+02],
       [ 5.81582401e+02],
       [ 5.62754812e+02],
       [ 5.66678530e+02],
       [ 5.71285828e+02],
       [ 2.84387220e+01],
       [ 5.57873542e+02],
       [ 5.50674905e+02],
       [ 5.25794417e+02],
       [ 5.53986147e+02],
       [ 5.49224281e+02],
       [ 5.70563993e+02],
       [ 5.26615213e+01],
       [ 5.01793810e+02],
       [ 5.51517689e+02],
       [ 1.12742883e+01],
       [-3.01894560e+01],
       [ 5.49523757e+02],
       [ 5.56723167e+02],
       [ 5.77201584e+01],
       [ 5.42420567e+02],
       [ 5.70123860e+02],
       [ 4.65869834e+01],
       [ 5.47823891e+02],
       [ 5.38349622e+02],
       [ 4.93385676e+02],
       [ 5.48041833e+02],
       [ 5.50829474e+02],
       [ 5.35002830e+02],
       [ 5.79562192e+02],
       [ 5.83565900e+02],
       [ 4.96517232e+02],
       [ 1.36449811e+01],
       [ 5.50943468e+02],
       [ 5.66693987e+02],
       [ 5.97841837e+02],
       [-1.34728843e+01],
       [ 5.62326788e+00],
       [ 3.67873473e+01],
       [ 4.01476642e+01],
       [ 5.82577049e+02],
       [ 3.56477918e+01],
       [ 5.41076595e+02],
       [ 5.84326377e+02],
       [ 5.19910772e+02],
       [ 5.41924016e+02],
       [ 6.04127361e+02],
       [ 5.78277343e+02],
       [ 5.75568531e+02],
       [ 5.61202559e+02],
       [ 5.69645471e+02],
       [ 5.35046882e+02],
       [ 4.18707153e+01],
       [ 5.41929077e+01],
       [ 5.40283659e+02],
       [ 5.63658650e+02],
       [-1.48315920e-01],
       [ 5.55767934e+02],
       [ 5.80601665e+02],
       [ 5.50368473e+02],
       [ 5.60297561e+02],
       [ 5.68247786e+02],
       [ 5.60964523e+02],
       [ 5.37549344e+02],
       [ 5.54986591e+02],
       [ 5.42498237e+02],
       [ 5.45664184e+02],
       [ 5.38573746e+02],
       [ 5.43961227e+02],
       [ 5.77073641e+02],
       [ 3.56203559e+01],
       [-2.15850200e+01],
       [-3.83979557e+00],
       [ 4.29511484e+01],
       [ 5.59269294e+02],
       [ 2.13142783e+01],
       [ 5.82621874e+02],
       [ 5.46471418e+02],
       [ 5.25400655e+02],
       [ 5.56402824e+02],
       [ 5.79736082e+02],
       [ 5.46799876e+02],
       [ 5.41808476e+02],
       [ 5.40228014e+02],
       [ 5.18108504e+02],
       [ 5.22191428e+02],
       [ 5.46609757e+02],
       [ 5.01493985e+01],
       [ 3.95305499e+01],
       [ 5.40662738e+02],
       [ 2.67002140e+01],
       [ 5.56443398e+02],
       [ 5.58966727e+02],
       [ 5.59608572e+02],
       [ 3.75028538e+00],
       [ 5.55720404e+02],
       [ 3.88044648e+01],
       [ 5.25538607e+02],
       [-3.68522718e+00],
       [-9.23616460e+00],
       [ 5.18540909e+02],
       [ 5.74217604e+02],
       [ 5.19564925e+02],
       [ 5.55200668e+02],
       [ 5.69280689e+02],
       [ 5.68352506e+02],
       [ 5.24850391e+02],
       [ 3.26449144e+01],
       [ 5.81695623e+02],
       [ 2.61209689e+01],
       [ 5.79761586e+02],
       [ 5.61335487e+02],
       [ 5.65718661e+02],
       [ 4.67587052e+02],
       [ 5.76599116e+02],
       [ 5.38705902e+02],
       [ 5.21161616e+02],
       [ 5.59591956e+02],
       [ 5.91428408e+02],
       [ 5.81644229e+02],
       [ 5.75371070e+02],
       [ 4.05507013e+01],
       [ 5.02459227e+02],
       [ 5.58335701e+02],
       [ 5.52444327e+02],
       [ 8.97508349e+00],
       [ 5.46682790e+02],
       [ 5.35399684e+02],
       [ 6.07025555e+01],
       [ 5.44191920e+02],
       [ 5.53639527e+02],
       [ 5.13840871e+02],
       [ 5.39615537e+02],
       [ 5.57988695e+02],
       [ 5.47525961e+02],
       [ 5.88927491e+02],
       [ 5.48765986e+02],
       [-1.17571751e+01],
       [ 5.51919954e+02],
       [ 5.63970106e+02],
       [ 5.66682395e+02],
       [ 4.79861715e+02],
       [ 2.15820681e+01],
       [ 2.29909590e+01],
       [ 5.78958216e+02],
       [ 5.64167953e+02],
       [ 5.02351839e+01],
       [ 3.59880835e+00],
       [ 5.64039275e+02],
       [ 5.52082637e+02],
       [ 5.55416291e+02],
       [-5.03733832e+01],
       [ 5.53379852e+02],
       [ 5.80928963e+02],
       [ 4.86643826e+01],
       [ 5.50614237e+02],
       [ 5.59004982e+02],
       [ 5.65860864e+02],
       [ 3.86118820e+00],
       [ 2.67508351e+01],
       [ 5.63698452e+02],
       [ 1.21437355e+01],
       [-4.33016380e+00],
       [ 5.83913679e+02],
       [ 5.80170033e+02],
       [ 5.62185614e+02],
       [ 5.66176569e+02],
       [ 5.04324095e+02],
       [ 5.80644944e+02],
       [ 5.47985415e+02],
       [ 5.28829754e+02],
       [ 4.43870888e+01],
       [ 5.34249695e+02],
       [ 5.72351577e+02],
       [ 5.70643210e+02],
       [ 5.58482541e+02],
       [ 2.52893910e+01],
       [ 5.72530490e+02],
       [ 5.63419069e+02],
       [ 3.44309522e+01],
       [ 5.53120564e+02],
       [ 3.26024081e+01],
       [ 5.34245444e+02],
       [-2.59859685e+01],
       [ 2.26926420e+01],
       [ 4.18714882e+01],
       [ 5.53172731e+02],
       [ 5.72047077e+02],
       [ 5.70201917e+02],
       [ 5.77242638e+00],
       [-1.61983114e+01],
       [-3.64309277e+01],
       [ 5.89349077e+02],
       [ 5.60794498e+02],
       [ 4.75123807e+02],
       [ 5.69519884e+02],
       [ 5.19696694e+02],
       [ 5.06646099e+02],
       [ 4.96374256e+02],
       [ 4.75917902e+02],
       [ 5.52957108e+02],
       [ 5.53160752e+02],
       [ 5.93373651e+02],
       [ 5.77769585e+02],
       [ 2.78115607e+01],
       [ 2.16670807e+01],
       [ 5.17785843e+02],
       [ 5.59035123e+02],
       [ 5.92561008e+02],
       [ 6.86581907e+01],
       [ 5.74923981e+02],
       [ 2.41328330e+01],
       [ 5.70498688e+02],
       [ 4.15217772e+01],
       [ 3.96024242e+01],
       [ 5.31676904e+02],
       [ 5.55397356e+02],
       [ 5.65881730e+02],
       [-1.21598258e+01],
       [ 5.77567101e+02],
       [ 5.37722074e+02],
       [ 5.45657229e+02],
       [ 5.15211506e+02],
       [ 4.98730651e+02],
       [ 4.89069354e+02],
       [ 5.60328088e+02],
       [ 5.45067164e+02],
       [ 5.48952627e+02],
       [ 5.59705564e+02],
       [ 5.63368062e+02],
       [ 2.91655798e+01],
       [ 5.63645126e+02],
       [ 5.61680175e+02],
       [ 2.53759493e+01],
       [ 5.07109804e+02],
       [ 5.87329254e+02],
       [ 2.04347842e+01],
       [ 3.66528728e+01],
       [ 4.28095600e+02],
       [ 5.68170888e+02],
       [ 5.64658708e+02],
       [ 5.55908978e+02],
       [ 5.24591103e+02],
       [ 5.66197823e+02],
       [ 4.07632328e+01],
       [ 5.74023234e+02],
       [ 5.66379440e+02],
       [-3.16489680e+01],
       [-1.33500024e+01],
       [ 5.37384728e+02],
       [ 3.42605405e+01],
       [ 5.53575381e+02],
       [ 5.77740990e+02],
       [ 1.40487910e+01],
       [ 5.61777939e+02],
       [ 3.46287997e+01],
       [ 5.35681771e+02],
       [ 5.73444762e+02],
       [ 5.60042523e+02],
       [ 5.44169894e+02],
       [ 5.71513816e+02],
       [ 5.72264246e+02],
       [ 5.67696363e+02],
       [ 5.45037023e+02],
       [ 1.62320695e+01],
       [ 5.44669150e+02],
       [ 5.50971290e+02],
       [ 5.65250705e+02],
       [ 5.50200380e+02],
       [ 6.43229337e+01],
       [ 5.81569649e+02],
       [ 9.20229903e+00],
       [ 5.42227743e+02],
       [ 4.68058099e+02],
       [ 4.89647826e+02],
       [ 4.20129183e+01],
       [-6.58454381e+00],
       [ 2.61472456e+01],
       [ 1.20046240e+01],
       [ 5.68391921e+02],
       [ 5.51558264e+02],
       [ 5.83880060e+02],
       [ 5.46662696e+02],
       [ 9.02106758e+00],
       [ 1.43699068e+01],
       [ 5.75566213e+02],
       [ 5.55601773e+02],
       [ 1.20401747e+01],
       [ 2.50988854e+01],
       [-5.60924137e+01],
       [ 5.77258737e+02],
       [ 5.77069777e+02],
       [ 5.63771485e+02],
       [ 5.16091773e+02],
       [ 5.18473323e+01],
       [ 5.74895773e+02],
       [ 5.81127197e+02],
       [ 5.30778475e+02],
       [ 5.41876100e+02],
       [ 2.86458436e+01],
       [ 5.51347664e+02],
       [ 5.69927558e+02],
       [-7.81659911e-01],
       [ 2.24426276e+01],
       [ 5.68076988e+02],
       [ 5.80908869e+02],
       [ 4.14935685e+01],
       [ 5.49085942e+02],
       [ 4.29117335e+01],
       [ 5.46237633e+02],
       [ 5.55032188e+02],
       [ 4.05924347e+01],
       [ 3.60964266e+01],
       [ 5.32091147e+02],
       [ 5.26917357e+02],
       [ 5.53119404e+02],
       [ 2.43685498e+01],
       [ 1.29888382e+01],
       [ 5.81316157e+02],
       [ 5.58424578e+02],
       [ 5.50931102e+02],
       [ 3.26414366e+01],
       [ 5.56473539e+02],
       [ 5.48700681e+02],
       [ 5.65221723e+02],
       [ 3.21054707e+01],
       [ 5.37697343e+02],
       [ 5.25777029e+02],
       [ 5.62354480e+02],
       [-1.67004175e+00],
       [ 5.26031680e+02],
       [ 5.65804832e+02],
       [ 5.56303900e+02],
       [ 4.78003453e+01],
       [ 5.43676435e+02],
       [ 5.43654409e+02],
       [ 5.29614189e+02],
       [ 5.53897270e+02],
       [ 5.67070748e+02],
       [ 5.54697934e+02],
       [ 5.29021033e+02],
       [ 5.52078386e+02],
       [ 5.40622974e+01],
       [ 4.95218471e+02],
       [-2.33652614e+01],
       [ 5.78809444e+02],
       [ 6.62834886e+00],
       [ 3.58073837e+01],
       [ 5.89750182e+02],
       [-5.59144189e+00],
       [ 1.29459455e+01],
       [ 5.59974126e+02],
       [ 5.75623790e+02],
       [ 5.79201662e+02],
       [ 4.50185007e+01],
       [ 7.38906657e-01],

In [22]:
#get R2 value from linear regression
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9182424769696061

In [23]:
#run regression again with statsmodels
#use statsmodels to add constant to X
#add constant to X
X1 = sm.add_constant(X)

/Users/hankbowman/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [24]:
#fit linear regression model
model = sm.OLS(y, X1).fit()

In [25]:
#view model summary with statsmodels
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      age_adjusted_rate   R-squared:                       0.927
Model:                            OLS   Adj. R-squared:                  0.927
Method:                 Least Squares   F-statistic:                 2.244e+04
Date:                Thu, 02 Jun 2022   Prob (F-statistic):               0.00
Time:                        18:14:01   Log-Likelihood:                -20207.
No. Observations:                3557   AIC:                         4.042e+04
Df Residuals:                    3554   BIC:                         4.044e+04
Df Model:                           2
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const               260.7137      3.111     83.794      0.000     254.613     266.814
5_year_avg_income    -0.0020   8.41e-05    -23.375      0.000      -0.002      -0.002
age_50+             394.2183      1.766    223.220      0.000     390.756     397.681
age_<50            -133.5046      2.246    -59.449      0.000    -137.908    -129.102
==============================================================================
Omnibus:                      647.896   Durbin-Watson:                   0.984
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7625.406
Skew:                           0.508   Prob(JB):                         0.00
Kurtosis:                      10.101   Cond. No.                     1.08e+21
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 9.09e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [26]:
#fit the model with training data
#decision tree regression
regressor_DT = DecisionTreeRegressor()
regressor_DT.fit(X_train, y_train)

DecisionTreeRegressor()

In [27]:
#predict
y_pred = regressor_DT.predict(X_test)
y_pred

array([ 20.1, 570.3, 380.7, 567.1,  21.9,  17. , 492.2, 576.7,  21.7,
       577.6,  10.8, 488.3,   9.7,  13.9,  19.4,  17.4,  23.1, 683.5,
       581.3, 378. , 548.7, 699.2, 656.1, 489.3,  14.9, 603.4,  21.4,
       604. , 580.3,  16.9, 510. , 588.3, 496.5, 651. , 648.9, 587. ,
       673.8, 609.6, 565.2, 386.9, 529. , 619.8,  17.8, 764.2, 477. ,
        11. , 434.4,  17.1, 549.3, 432.6, 531.3,  14.5, 397. , 521.6,
       705.5, 560.5, 674.3, 753.8, 586.3,  15.3,  16.3,  22.8, 521.4,
        19.7, 607.7, 561.3,  11.5,  16.9, 581.3, 790.4, 526.1, 540.7,
       616.9, 471.4, 654.1, 664.7, 476.9, 680.2, 576.3, 424.4,  20.1,
       429.9, 600.1,  12.4,  14.2, 477.2,  17.8, 372.9, 520.4, 583.4,
       610.8, 612.1,  10.9, 651.6, 811.3,  17.2,  15. , 593.7,  19.4,
        18.3, 673.8,  14.4,  14.7, 576.3, 577.2, 564.1,  16.5, 500.3,
        12.6, 683.4, 530.2,  13.4,  20.5, 688.4, 645.2, 506. ,  16.5,
        19.4, 683.1, 618.9,  43.2, 695.5, 679.7, 472.2, 734.5, 509.9,
       561.1, 366.7,  16.4,  16.2,   9.4, 512.7,  18.4, 541.5,  18.6,
       499.9, 611.6, 546.9, 531.9, 637.7, 676.9,  12.2, 658.4,  23.1,
       453.6, 520.7, 568.9,  13.6, 662. ,  15.6,  23.5, 593.5,  28.1,
        23.5, 631.4, 411.9, 716.1, 597. , 572.4,  19.3, 505.3, 627.6,
       618.2, 577.1, 531.3, 617. , 747.6, 600.1,  16.5, 512.4, 633.4,
       573.9,  10.9, 510. , 569.9, 590.7,  13.4, 536.2, 588.1,  16.4,
       598.5,  19.4, 437.7, 659. , 472.2, 577.8, 460.6,  24.4, 513.5,
        14.7, 264. ,  13.3, 458.5,  25.3, 488.3, 527.1, 422.8, 469.5,
       419.6,  17. , 473.8,  17. , 606.3, 635.1, 633.5, 627.2,  23.4,
        21.4, 490.7, 544.6,   9.4, 545.6,  12.5,   9.7, 619.6, 546.5,
        14.2, 619.2, 609.6, 471.6, 507.2, 579.3, 516.3, 703.4,  16. ,
        15.1, 486.9, 617.1,  16.1, 542.9, 648.9, 533.6,  32. , 543.6,
       454.9, 502.1,  17.3, 486.9, 619.2,  13.2,  14.5, 514.2, 336.3,
       574.5,  12.6, 630.7,   8.9, 538.7, 540.6, 588.1,   8.1,  16.5,
       565.7,  18. ,  10.9, 408.6, 452.7,  11.8, 616.6, 494.1, 676.9,
       395.2, 769.4, 606.3, 707.2, 468.6, 556.6, 407.2, 385.5,  20.5,
       664.7, 781.7, 518.7, 432.6, 534.2, 422.3, 469.3, 690.4, 560.5,
        12.8, 549.5, 461.7, 570.2,  19.5, 458.6,  12.2, 603.5, 506.1,
        21.4, 606.3,   9.1, 614.7,  20.8, 466. , 477.3, 565.9, 579.6,
       659.3, 603.3, 567.9, 581.5,  11. , 527. ,  14.3, 425.9, 431.2,
       632.4, 513.5,  13.7,  14. , 548.5,  13. , 499.3, 529.2,  27.7,
       670.4,  19.7, 378. , 540.6, 546.5,  16.2,  15.2, 473.8,  12.7,
        20.4, 702.2,  18.9,  18.8,  17.4, 600.4,  28.1, 496.9, 387.6,
       579.5, 587.8, 570.2, 554.1,  23.1, 667.1,  20.9, 588.3, 666.5,
       526.8, 678.5,  24.3,  16.2, 576.3,  15.6,  20.6, 411.6, 529. ,
       692.8, 627. , 577.5,  16.4, 595.8,  15.6,  19.2, 403.7, 719.4,
        22.3,  14. , 465.2, 540.7,  25.6, 556. , 508.5,  18.1, 577. ,
       585.9,  14.2, 579.8, 561.4, 577.6, 698. , 579.9,  14.6, 652.6,
       494.4,  14.1, 576.3, 508.9, 656.6,  28.3,  16.1,  26.5, 508. ,
       445.1, 664.1, 471.9,  15.5, 597. , 469.3, 467. ,  17.4, 558.2,
       557.2, 610.1, 513.9,  10.4, 470.5, 514.2, 594.9, 651.6, 648.1,
        16. , 552.2, 516.3,  12.2, 576. , 492.9, 619.6, 651.5, 698. ,
       589.7, 723.8, 561.3, 571.8,  19. , 685. , 563.1, 487.4, 565.9,
       345.3, 464.7,  23.7, 504.5, 440.5,  20.6,  14.5, 473.8, 587.9,
        20.3, 510.6, 539. ,  19.5, 545.7, 598.2, 569.9, 616.7, 529.3,
       407.2, 603.3, 587.5, 437.7,  13.3, 525.7, 382.7, 683.1,  11.3,
        16.9,  25.1,  18.8, 703.4,  12.7, 469.5, 707.2, 486.3, 483.4,
       781.7, 583.5, 607.7, 587.4, 590.3, 575.3,  19.1,  21.4, 513.5,
       568. ,  11.2, 632.3, 595.7, 583.5, 449.5, 629.1, 513.9, 537. ,
       633.5, 521.4, 455.1, 531.3, 546.6, 613.8,  16.1,  19.1,  22.3,
        18.7, 500.3,  18.2, 703.4, 636.5, 400.8, 531.7, 679.5, 492.2,
       545.4, 501.9, 512.9, 556.5, 533.6,  21. ,  15.3, 375.2,  17.9,
       598.5, 548.5, 403.9,  14.3, 578.9,  19.2, 487.4,  10.8,  12.2,
       579.5, 561.7, 538.8, 532.5, 523.4, 443. , 534.4,  20.1, 612.3,
        16.7, 683.4, 539. , 567.4, 526.7, 664.1, 485.6, 544.8, 403.9,
       626.5, 589.7, 678.5,  21.1, 489.5, 564.4, 495.2,  11.4, 466.7,
       476.3,  18.5, 561.5, 747.2, 469.8, 556.2, 584.8, 577.1, 623.4,
       546.2,  14.2, 397.9, 545.8, 382.7, 451.4,  13. ,  16. , 373.3,
       677.6,  23.1,  13.3, 577.8, 576.7, 512. ,  15.2, 513.9, 579.1,
        26.6, 549. , 548.5, 537.2,  14.3,  17.9, 549. ,  15.9,  13.4,
       588. , 665. , 579.3, 671.6, 477.2, 595.7, 488.3, 542.5,  17.8,
       588.3, 570.7, 494.1, 460.3,  20.9, 605.3, 673.8,  22.3, 503.2,
        20.1, 588.3,  13.9,  11.4,  19.1, 702.7, 425.6, 639.1,  12.8,
        18. ,  14.7, 575.5, 556.6, 422.6, 621.6, 538.8, 473.2, 498.3,
       422.6, 645.3, 472.5, 862.6, 645. ,  28.1,  17.5, 539.2, 478.9,
       706.9,  32. , 573.9,  17.2, 596.6,  19.9,  26.5, 543. , 486.9,
       565.2,  16.8, 525.1, 508.3, 455.1, 507.2, 522.8, 471.4, 551.4,
       577.1, 583.4, 640.1, 603.4,  18.2, 530. , 622.3,  16.9, 496.8,
       778.5,  15.1,  20.5, 386.1, 511.6, 529. , 471.7, 451.9, 671.6,
        26.5, 379. , 596.6,  12.8,  11.3, 462.9,  20.5, 377.5, 600.4,
        14.1, 398.9,  22.4, 387.6, 619.3, 565.2, 561.5, 479.4, 657.8,
       697.9, 696.9,  18.9, 465.3, 600.1, 731.7, 636.6,  20.9, 668.9,
        16.8, 594.2, 474.2, 471.4,  18.5,  19.5,  14.9,  16.1, 500.5,
       542.7, 588. , 597.9,  11.4,  18.4, 607.7, 688.4,  17.9,  13.2,
        12.4, 720.5, 613.8, 568.8, 505.6,  16.1, 549.6, 503.6, 492.9,
       678.4,  16.5, 518.9, 528.5,  14.9,  16.7, 600.5, 579.1,  19.9,
       595.5,  18.7, 535.9, 531.3,  21.1,  20.1, 534. , 555.3, 503.2,
        17.9,  16.1, 636.5, 600.3, 525.7,  20.1, 967.3, 411.9, 731.7,
        19.8, 495.2, 487.4, 612.1,  12.5, 563.4, 553.6, 602.1,  17.8,
       370.8, 370.8, 486.9, 544.6, 747.6, 552.2, 487.9, 576.7,  38.8,
       520.9,  13.5, 634.8,  16.7,  17.1, 705.9,  11.6,  16.1, 496.6,
       708.2, 701.2,  16.3,  17.6, 581.1, 533.6, 540.6,  16.9, 471.4,
       564.1,  21.4, 403.9, 469.3, 619.6, 575.8, 415.3, 469.5,  20.8,
       574.5,  15.2, 538.5,  15.1,  22.1, 538.2,  43.2,  16.5, 610.8,
       527.8, 651.1,  20.1,   8.9,  23.7, 562. , 659. , 650.7,  11.3,
        12.8,  13.4, 611.6, 462.3, 543.6, 599.5,  11.7, 600.6, 535.4,
       600.3,  22.2, 579.8,  11. , 503.6, 588. , 559.4, 466.1, 514.2,
        15.1,  18.9,  17.6, 569.4, 594.4, 544.8, 452. , 556. ,  30.1,
       518.4,  12.8, 407.6,  13.4, 561.3, 519.2,  12.4, 627.2,  16. ,
        21.6, 533.4, 716.1, 501.9,  13.8, 504.7, 528.2, 600.8,  14.6,
       867.3, 532.2, 609.7, 764.9, 550. , 698.2, 461.9, 578. , 469.3,
       570.2, 539.2,  20.5, 404.4, 460.1, 683.4, 561.9,  24.9, 521. ,
       425.6, 535.9, 647.6, 515. , 495.9, 526.8,  13.4, 612.3, 494.1,
       567.4, 492.3, 606.3, 579.9,  16. , 685. , 527. , 651. ,  15.4,
       534.4,  14.9, 580.6, 499.5,  13.4, 558.6,  17.5,  25.2])

In [28]:
#calculate r2 score
r2_score(y_test, y_pred)

0.872810759735188